@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  font-family: Plus Jakarta Sans, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/*
 * header style
 */

header {
  color: white;
  font-family: lalezar;
  display: flex;
  justify-content: space-between;
  margin: 1.5em;
  margin-bottom: 0em;
}

button {
  background-color: black;
}

#header-logo {
  color: white;
  font-family: lalezar;
  text-decoration: inherit;
  font-size: x-large;
}

.burger-menu {
  background-color: black;
  border: none;
}

.header-btn {
  border: none;
  color: white;
  font-size: 0em;
  margin: 0.65em;
  font-size: 0em;
}

.header-btn-account-access {
  border: none;
  background-color: #bfb48585;
  color: white;
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 8em;
  margin: 0.65em;
  font-size: 0em;
}

.header-btn:hover {
  opacity: 0.7;
}

.header-btn-account-access:hover {
  background-color: #bfb485;
}

.bx-menu {
  font-size: x-large;
  color: white;
}

body {
  background-color: black;
}

span {
  color: white;
}

a {
  color: #bfb384;
  text-decoration: none;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

label {
  font-size: 0.8em;
  margin-top: 1.2em;
  margin-bottom: 0.25em;
  color: white;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  margin: 24px;
}

.hero-container {
  display: flex;
}

.hero-title {
  padding-top: 1.25em;
  color: white;
  font-size: 4em;
  font-weight: 500;
}

.signup-form {
  box-shadow: 0 0 4px white;
  border-radius: 4px;
  background-color: #151617;
  padding: 1em;
  max-width: 400px;
}

.form-group {
  align-items: center;
}

#password-group {
  margin-bottom: 24px;
}

#phoneNumber {
  width: 100%;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-button {
  border-radius: 5px;
  border: solid 2px black;
  padding: 0.75em;
  font-weight: 400;
  font-size: 1.01em;
  margin-top: 0.5em;
  background-color: #bfb384;
}

.form-error-msg,
#account-question {
  font-size: 0.8em;
  height: 0.8em;
}

#terms-section {
  display: felx;
  flex-direction: row;
  justify-content: space-evenly;
}

.iti__country-name {
  color: #999;
}

/*
#phoneNumber {
  width: 100%;
}
*/

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  background-color: #b5b1b5;
  border: 1px grey solid;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1em;
}

#account-question {
  display: block;
  text-align: center;
}

/* Hero image div */
.hero-image {
  width: 0px;
}

/* Popup */
.popup {
  top: 16px;
  background-color: #151617;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 0 4px white;
  position: fixed;
  width: calc(100% - 3em);
  box-sizing: border-box;
  padding: 8px;
  display: none;
}

.popup-content {
  width: 100%;
}

#burger-menu-popup {
  background-color: #151617;
}

.popup-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-btn-popup {
  border: none;
  background-color: #00000000;
  color: white;
  margin: 0.65em;
  font-size: 1em;
}

.header-btn-account-access-popup {
  border: none;
  background-color: #bfb48585;
  color: white;
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 8em;
  margin: 0.65em;
}

.header-btn-popup:hover {
  opacity: 0.7;
}

.header-btn-account-access-popup:hover {
  background-color: #bfb485;
}

.bx-x {
  color: white;
  font-size: x-large;
}

.bx-chevron-right {
  color: white;
  margin: 0.65em;
  font-size: x-large;
}

/* Media Queries for responsive design */
@media only screen and (min-width: 1080px) {
  body {
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-container {
    flex-direction: row;
    justify-content: center;
    padding-top: 3em;
  }
  .hero-container {
    margin-right: 1em;
    margin-top: 1em;
  }
  .signup-form {
    box-sizing: border-box;
    max-width: none;
    width: 540px;
    padding: 2.5em;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
  }
  .hero-image {
    width: auto;
    max-width: 540px;
    flex-grow: 2;
  }
  #phoneNumber {
    width: 184.5px;
  }
}

@media only screen and (min-width: 740px) {
  header {
    max-width: 1080px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bx-menu {
    font-size: 0em;
  }
  .header-btn {
    max-width: none;
    font-size: 1em;
  }
  .header-btn-account-access {
    font-size: 1em;
  }
}

@media only screen and (min-width: 450px) {
  #terms-label {
    margin-bottom: 16px;
  }
}

